.div__container__name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.div__container__img {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.poke__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
.poke__tipo {
  width: 50px;
  height: 20px;
  border: 0.5px solid;
  background: #fffefe;
  background-blend-mode: soft-light;
  opacity: 0.4;
  border-radius: 38px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: 900;
}
.poke__id {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-left: 55px;
  opacity: 0.5;
  color: gray;
}
