.header__content {
  display: flex;
  justify-content: space-between;
  color:#ffffff;
 
  justify-content: space-between;
  max-width: 1500px;
  height: 154px;
  border-radius: 0px 0px 24px 24px;
  background-color: #494949;
  padding: 0px 20px;
}
.div__content {
  padding-top: 76px;
}
.h1__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.span__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

 
  

.menu__container{
  color:#ffffff;
display: flex;
gap: 50px;

 
}
.menu__container li {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
}

